<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jayson.blog.mapper.ArticleTagRelationMapper">

    <resultMap id="BaseResultMap" type="com.jayson.blog.model.entity.ArticleTagRelation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="articleId" column="articleId" jdbcType="BIGINT"/>
            <result property="tagId" column="tagId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,articleId,tagId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
